@import './../../variables.scss';

.statistics_container {
    color: #2b2c35;
    min-height: auto;
    padding: 20px 0;

    .main_head {
        color: #2b2c35;
        font-size: 35px;
        font-weight: 600;
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .contents_wrap {
        font-size: 25px;
        font-weight: 500;

        .item {
            border-bottom: 1px dashed #000000;
            padding: 10px 5px;

            &:last-child {
                border-bottom: none;
            }

            span {
                font-size: 32px;
            }
        }
    }
}
